# shellcheck shell=bash

: "${WORKSPACE_DIR:=$PWD}"
export WORKSPACE_DIR

if ! has nix_direnv_version || ! nix_direnv_version 3.0.7; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.7/direnvrc" "sha256-bn8WANE5a91RusFmRI7kS751ApelG02nMcwRekC/qzc="
fi

watch_file nix/flake.nix
watch_file nix/flake.lock

use flake path:"$WORKSPACE_DIR"/nix

layout go

source_env_if_exists .envrc.local
